# Hourly dataset for the project

### NORD MACROZONE

In [128]:
import sys
print(sys.executable)

c:\ProgramData\anaconda3\python.exe

In [129]:
import os
import pandas as pd
import matplotlib.pyplot as plt

# Add the source directory to the system path
sys.path.append(os.path.abspath('../src'))
from open_data import fetch_db_table_sqlserver16
import utils
import importlib

# Reload the module
importlib.reload(utils)

# SQL query to fetch data
sql_query = "SELECT * FROM TERNA_SUNSET_SEGNO_QH" 
qh = fetch_db_table_sqlserver16(sql=sql_query, verbose=False)
qh = qh.sort_values(by='ORAINI')
# Filter the DataFrame for the relevant columns and rows
qh = qh[['MACROZONA', 'ORAINI', 'SBIL_MWH']]
# Convert ORAINI to datetime using the correct method
qh['ORAINI'] = pd.to_datetime(qh['ORAINI'], format='%Y%m%d%H%M')
qh.set_index('ORAINI', inplace=True)
# Nord
qh_nord = qh[qh['MACROZONA'] == 'NORD']


qh_nord.tail()

c:\imbalance_forecast\src\open_data.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, con, params=parameters)

                    MACROZONA  SBIL_MWH
ORAINI
2024-12-05 13:00:00      NORD   218.348
2024-12-05 13:15:00      NORD   180.622
2024-12-05 13:30:00      NORD    51.980
2024-12-05 13:45:00      NORD   -99.727
2024-12-05 14:00:00      NORD   120.409

In [130]:
# Resample to hourly data and take the sum of 'SBIL_MWH' for each hour
h_nord = qh_nord.resample('H').sum()

# Clean the 'MACROZONA' column to retain only 'NORD'
h_nord['MACROZONA'] = h_nord['MACROZONA'].str[:4]

h_nord = h_nord.drop(columns = ['MACROZONA'])
# Display the first few rows of the resampled data
h_nord.tail()

C:\Users\samueledelia\AppData\Local\Temp\3\ipykernel_10056\4018051853.py:2: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  h_nord = qh_nord.resample('H').sum()

                     SBIL_MWH
ORAINI
2024-12-05 10:00:00   468.268
2024-12-05 11:00:00   530.093
2024-12-05 12:00:00   461.623
2024-12-05 13:00:00   351.223
2024-12-05 14:00:00   120.409

In [131]:
lags = [-1, -2, -3, -24]

# Create a new DataFrame with SBIL_MWH and its lagged values
df_sbil_lagged = pd.DataFrame(h_nord['SBIL_MWH'])

# Add lagged columns
for lag in lags:
    df_sbil_lagged[f'SBIL_MWH_lag{abs(lag)}'] = df_sbil_lagged['SBIL_MWH'].shift(-lag)

df_sbil_lagged = df_sbil_lagged.drop('SBIL_MWH', axis=1)
df_sbil_lagged = df_sbil_lagged.resample('H').sum()

df_sbil_lagged

C:\Users\samueledelia\AppData\Local\Temp\3\ipykernel_10056\1260965639.py:11: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df_sbil_lagged = df_sbil_lagged.resample('H').sum()

,SBIL_MWH_lag1,SBIL_MWH_lag2,SBIL_MWH_lag3,SBIL_MWH_lag24
ORAINI,,,,
2019-01-01 00:00:00,0.000,0.000,0.000,0.000
2019-01-01 01:00:00,-111.900,0.000,0.000,0.000
2019-01-01 02:00:00,-112.451,-111.900,0.000,0.000
2019-01-01 03:00:00,-88.849,-112.451,-111.900,0.000
2019-01-01 04:00:00,127.792,-88.849,-112.451,0.000
...,...,...,...,...
2024-12-05 10:00:00,311.654,-92.653,89.245,-61.465
2024-12-05 11:00:00,468.268,311.654,-92.653,657.699
2024-12-05 12:00:00,530.093,468.268,311.654,1549.423
2024-12-05 13:00:00,461.623,530.093,468.268,-313.293
2024-12-05 14:00:00,351.223,461.623,530.093,-579.665

In [132]:
# SQL query to fetch data
sql_query = "SELECT * FROM GME_MGP_MI_QUANTITA" 
volumes = fetch_db_table_sqlserver16(sql=sql_query, verbose=False)
volumes = volumes.sort_values(by=['FLOWDATE','FLOWHOUR'])
# Convert FLOWDATE to a string and then to datetime (YYYYMMDD format)
volumes['FLOWDATE'] = pd.to_datetime(volumes['FLOWDATE'].astype(str), format='%Y%m%d')
# Subtracting one hour from FLOWHOUR
volumes['FLOWHOUR'] = volumes['FLOWHOUR'] - 1
# Convert FLOWHOUR to timedelta (number of hours) and add it to FLOWDATE
volumes['ORAINI'] = volumes['FLOWDATE'] + pd.to_timedelta(volumes['FLOWHOUR'], unit='h')
# Dropping the old FLOWDATE and FLOWHOUR columns
volumes = volumes.drop(columns=['FLOWDATE', 'FLOWHOUR'])
volumes.set_index('ORAINI', inplace=True)

mgp_volumes = volumes[volumes['MARKET'] == 'MGP']
mgp_volumes = mgp_volumes.drop(columns=['MARKET'])

mgp_volumes

c:\imbalance_forecast\src\open_data.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, con, params=parameters)

,TOTAL_PURCHASES,NAT_PURCHASES,CNOR_PURCHASES,CSUD_PURCHASES,NORD_PURCHASES,SARD_PURCHASES,SICI_PURCHASES,SUD_PURCHASES,AUST_PURCHASES,BRNN_PURCHASES,...,SVIZ_SALES,BSP_SALES,MALT_SALES,XAUS_SALES,XFRA_SALES,TOTITABSP_SALES,TOTITABSP_PURCHASES,LOADTIME,FLOWQUARTER,TIMERESOLUTION
ORAINI,,,,,,,,,,,,,,,,,,,,,
2019-01-01 00:00:00,23521.449,24243.696,2372.707,4174.117,11460.324,901.738,1679.169,2148.394,0.0,None,...,2438.000,0.0,0.0,187.0,0.0,24056.696,23730.449,2018-12-31 13:51:37.097,NaN,None
2019-01-01 01:00:00,22417.488,23396.353,2245.300,3885.330,10964.464,861.702,1571.783,2015.909,0.0,None,...,2342.000,0.0,0.0,187.0,0.0,23209.353,22588.488,2018-12-31 13:51:37.097,NaN,None
2019-01-01 02:00:00,21496.678,22353.623,2145.655,3606.687,10604.767,829.694,1474.098,1888.777,0.0,None,...,2175.000,0.0,0.0,0.0,0.0,22353.623,22057.240,2018-12-31 13:51:37.097,NaN,None
2019-01-01 03:00:00,20322.418,20576.217,2050.474,3392.350,10234.366,805.191,1401.924,1804.113,0.0,None,...,2310.000,0.0,0.0,0.0,0.0,20576.217,20468.106,2018-12-31 13:51:37.100,NaN,None
2019-01-01 04:00:00,19979.994,21238.994,2016.645,3314.058,10088.680,791.251,1366.832,1769.976,0.0,None,...,2351.000,433.0,0.0,187.0,0.0,21051.994,19979.994,2018-12-31 13:51:37.100,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-05 19:00:00,42458.793,43532.177,3660.670,7724.038,23352.455,1128.925,2380.449,2541.671,0.0,None,...,3934.000,0.0,0.0,240.0,3385.0,39907.177,43118.793,2024-12-04 15:42:20.327,20.0,PT60
2024-12-05 20:00:00,40433.658,41465.458,3384.412,7455.731,22053.846,1123.659,2351.426,2469.320,0.0,None,...,3912.000,0.0,0.0,240.0,3385.0,37840.458,41093.658,2024-12-04 15:42:20.327,21.0,PT60
2024-12-05 21:00:00,37419.551,37890.203,3096.806,6825.088,20501.039,1048.671,2187.339,2259.712,0.0,None,...,3709.780,572.7,0.0,239.0,3375.0,34276.190,37419.551,2024-12-04 15:42:20.327,22.0,PT60
2024-12-05 22:00:00,33439.866,33842.723,2748.288,6145.862,18506.472,940.770,1923.841,2097.948,0.0,None,...,3704.981,750.0,0.0,239.0,3375.0,30228.723,33439.866,2024-12-04 15:42:20.327,23.0,PT60
2024-12-05 23:00:00,30428.153,30428.153,2449.792,5468.883,17147.602,845.113,1703.554,1874.429,0.0,None,...,3039.960,639.0,0.0,224.0,3228.0,26476.153,30428.153,2024-12-04 15:42:20.327,24.0,PT60

In [133]:
mgp_volumes_nord = mgp_volumes[['NORD_PURCHASES', 'NORD_SALES']].copy()
mgp_volumes_nord.rename(columns={"NORD_PURCHASES": "MGP_NORD_PURCHASES", "NORD_SALES": "MGP_NORD_SALES"}, inplace=True)
mgp_volumes_nord = mgp_volumes_nord[~mgp_volumes_nord.index.duplicated(keep='first')]


#mi1_volumes = volumes[volumes['MARKET'] == 'MI1']
#mi1_volumes = mi1_volumes.drop(columns=['MARKET'])
#mi1_volumes_nord = mi1_volumes[['NORD_PURCHASES', 'NORD_SALES']].copy()
#mi1_volumes_nord.rename(columns={"NORD_PURCHASES": "MI1_NORD_PURCHASES", "NORD_SALES": "MI1_NORD_SALES"}, inplace=True)
#mi1_volumes_nord = mi1_volumes_nord[~mi1_volumes_nord.index.duplicated(keep='first')]

In [134]:
#mi1_volumes_nord.tail(40)

In [135]:
# Add the source directory to the system path
sys.path.append(os.path.abspath('../../src'))
from open_data import fetch_db_table_sqlserver16_
import utils
import importlib
# Reload the module
importlib.reload(utils)

# SQL query to fetch data
sql_query = """
SELECT * FROM POWER_UNBALANCE
"""
power_curve = fetch_db_table_sqlserver16(sql=sql_query, verbose=False)
power_curve = power_curve.sort_values(by='TIMESTAMP')

power_curve = power_curve.pivot(index='TIMESTAMP', columns='SOURCE_ZONE', values='UNBALANCE_kW')

# Rename columns for clarity (optional, if needed)
power_curve.columns = [f"UNBALANCE_{col}" for col in power_curve.columns]

# Display the resulting DataFrame
power_curve = power_curve.resample('H').sum()

power_curve = power_curve[["UNBALANCE_IDRO-NON-PROGRAMMABILE_MACRONORD", "UNBALANCE_IDRO-PROGRAMMABILE_NORD", "UNBALANCE_SOLARE_NORD"]]

power_curve = power_curve.rename_axis("ORAINI")

power_curve

c:\imbalance_forecast\src\open_data.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, con, params=parameters)
C:\Users\samueledelia\AppData\Local\Temp\3\ipykernel_10056\3830827227.py:22: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  power_curve = power_curve.resample('H').sum()

,UNBALANCE_IDRO-NON-PROGRAMMABILE_MACRONORD,UNBALANCE_IDRO-PROGRAMMABILE_NORD,UNBALANCE_SOLARE_NORD
ORAINI,,,
2023-11-01 01:00:00,0.00,12447.43,0.000
2023-11-01 02:00:00,0.00,12130.31,0.000
2023-11-01 03:00:00,0.00,12297.07,0.000
2023-11-01 04:00:00,0.00,25895.64,0.000
2023-11-01 05:00:00,0.00,-28886.10,0.000
...,...,...,...
2024-12-05 10:00:00,-285707.34,-1518.47,131436.866
2024-12-05 11:00:00,-221173.19,923.39,175141.780
2024-12-05 12:00:00,-127370.34,3496.82,197333.646
2024-12-05 13:00:00,-191.99,4588.81,114377.306
2024-12-05 14:00:00,-117105.42,902.89,35757.874

In [136]:
import sys
import os
import pandas as pd

# Add the source directory to the system path
sys.path.append(os.path.abspath('../../src'))
from open_data import fetch_db_table_sqlserver16
import utils
import importlib

# Reload the module
importlib.reload(utils)

# SQL query to fetch data
sql_query = "SELECT * FROM ENTSOE_DATA" 
entsoe_data = fetch_db_table_sqlserver16(sql=sql_query, verbose=False)
entsoe_data = entsoe_data.sort_values(by='ORAINI')

c:\imbalance_forecast\src\open_data.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, con, params=parameters)

In [137]:
entsoe_data = entsoe_data[entsoe_data['DOMAIN'] == 'LOAD']
entsoe_data = entsoe_data.drop(columns=['DOMAIN'])
# Convert ORAINI to datetime using the correct method
entsoe_data['ORAINI'] = pd.to_datetime(entsoe_data['ORAINI'], format='%Y%m%d%H%M')
entsoe_data.set_index('ORAINI', inplace=True)

day_ahead_load = entsoe_data[entsoe_data['SCOPE'] == 'DAY AHEAD']
day_ahead_load = day_ahead_load[['CODZONA', 'VALUE']]
day_ahead_load["FORECAST_TOTAL_LOAD_MW"] = day_ahead_load["VALUE"]
day_ahead_load = day_ahead_load.drop(columns="VALUE")

actual_load = entsoe_data[entsoe_data['SCOPE'] == 'ACTUAL']
actual_load = actual_load[['CODZONA', 'VALUE']]
actual_load["TOTAL_LOAD_MW"] = actual_load["VALUE"]
actual_load = actual_load.drop(columns="VALUE")

entsoe_load = pd.merge(day_ahead_load, actual_load, on=['ORAINI', 'CODZONA'])

subset_zonas = ['NORD']
mnord_load = entsoe_load[entsoe_load['CODZONA'].isin(subset_zonas)]
mnord_load = mnord_load.drop(columns=['CODZONA'])
mnord_load

                     FORECAST_TOTAL_LOAD_MW  TOTAL_LOAD_MW
ORAINI
2019-01-01 00:00:00                 11110.0        11511.0
2019-01-01 01:00:00                 10675.0        11039.0
2019-01-01 02:00:00                 10080.0        10430.0
2019-01-01 03:00:00                  9793.0         9811.0
2019-01-01 04:00:00                  9485.0         9474.0
...                                     ...            ...
2024-12-05 08:00:00                 26428.0        26434.0
2024-12-05 09:00:00                 26524.0        26249.0
2024-12-05 10:00:00                 25414.0        25417.0
2024-12-05 11:00:00                 24301.0        24835.0
2024-12-05 12:00:00                 21876.0        22906.0

[42262 rows x 2 columns]

In [138]:
from functools import reduce
# List of all the DataFrames to be merged
dataframes = [h_nord, df_sbil_lagged, mgp_volumes_nord,  power_curve] #mi1_volumes_nord, mnord_load,
# Use reduce to merge all DataFrames on 'ORAINI'
df_nord_h_project = reduce(lambda left, right: pd.merge(left, right, on='ORAINI', how='outer'), dataframes)

#df_nord_h = df_nord.drop(columns="MACROZONA")
df_nord_h_project = df_nord_h_project[df_nord_h_project.index >= '2024-08-27']
df_nord_h_project

,SBIL_MWH,SBIL_MWH_lag1,SBIL_MWH_lag2,SBIL_MWH_lag3,SBIL_MWH_lag24,MGP_NORD_PURCHASES,MGP_NORD_SALES,UNBALANCE_IDRO-NON-PROGRAMMABILE_MACRONORD,UNBALANCE_IDRO-PROGRAMMABILE_NORD,UNBALANCE_SOLARE_NORD
ORAINI,,,,,,,,,,
2024-08-27 00:00:00,-6.856,-97.279,-51.994,-409.274,-270.368,16126.496,12677.375,-282467.38,0.0,0.0
2024-08-27 01:00:00,35.347,-6.856,-97.279,-51.994,-147.570,15370.564,11892.387,-287513.36,0.0,0.0
2024-08-27 02:00:00,-32.585,35.347,-6.856,-97.279,-214.758,14943.335,11202.301,-352965.19,0.0,0.0
2024-08-27 03:00:00,-117.998,-32.585,35.347,-6.856,21.760,14713.801,10895.785,-240815.93,0.0,0.0
2024-08-27 04:00:00,-297.574,-117.998,-32.585,35.347,-157.722,14760.303,11026.509,-255695.64,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2024-12-05 19:00:00,NaN,NaN,NaN,NaN,NaN,23352.455,18962.100,NaN,NaN,NaN
2024-12-05 20:00:00,NaN,NaN,NaN,NaN,NaN,22053.846,17317.978,NaN,NaN,NaN
2024-12-05 21:00:00,NaN,NaN,NaN,NaN,NaN,20501.039,14817.090,NaN,NaN,NaN
2024-12-05 22:00:00,NaN,NaN,NaN,NaN,NaN,18506.472,11967.999,NaN,NaN,NaN
2024-12-05 23:00:00,NaN,NaN,NaN,NaN,NaN,17147.602,10511.258,NaN,NaN,NaN

In [139]:
df_nord_h_project.tail(48)

,SBIL_MWH,SBIL_MWH_lag1,SBIL_MWH_lag2,SBIL_MWH_lag3,SBIL_MWH_lag24,MGP_NORD_PURCHASES,MGP_NORD_SALES,UNBALANCE_IDRO-NON-PROGRAMMABILE_MACRONORD,UNBALANCE_IDRO-PROGRAMMABILE_NORD,UNBALANCE_SOLARE_NORD
ORAINI,,,,,,,,,,
2024-12-04 00:00:00,75.801,-548.482,-702.941,-576.398,-93.009,15561.030,11192.735,-27098.97,68565.17,2349.600
2024-12-04 01:00:00,91.645,75.801,-548.482,-702.941,48.004,15273.771,10506.773,-10569.68,5619.25,2349.600
2024-12-04 02:00:00,32.192,91.645,75.801,-548.482,391.491,14863.279,10422.818,23132.99,7236.15,2349.600
2024-12-04 03:00:00,-88.035,32.192,91.645,75.801,20.454,14958.721,10034.710,-5036.10,6885.23,2349.600
2024-12-04 04:00:00,-162.976,-88.035,32.192,91.645,-155.525,14915.849,9915.423,-11274.66,9770.17,2349.600
2024-12-04 05:00:00,300.574,-162.976,-88.035,32.192,-48.201,15844.043,11306.607,-69861.25,8688.67,2349.600
2024-12-04 06:00:00,446.800,300.574,-162.976,-88.035,116.316,19393.910,16682.004,-65390.75,6911.37,2349.600
2024-12-04 07:00:00,14.629,446.800,300.574,-162.976,-642.515,22801.171,20605.974,22912.62,7014.87,-963.126
2024-12-04 08:00:00,-175.515,14.629,446.800,300.574,-634.515,25158.116,23222.123,39689.36,-49145.67,-15047.357
2024-12-04 09:00:00,-582.215,-175.515,14.629,446.800,-463.031,25378.121,22971.322,18193.86,25101.24,-59034.872
2024-12-04 10:00:00,-61.465,-582.215,-175.515,14.629,-92.450,25009.246,21673.512,181018.00,25528.59,-2805.060
2024-12-04 11:00:00,657.699,-61.465,-582.215,-175.515,298.972,24709.131,21465.626,114684.66,112148.49,179698.422
2024-12-04 12:00:00,1549.423,657.699,-61.465,-582.215,15.496,23076.583,20345.259,-18662.62,6695.82,43614.430
2024-12-04 13:00:00,-313.293,1549.423,657.699,-61.465,-294.430,23114.197,20926.756,1392.66,6034.13,-78985.860
2024-12-04 14:00:00,-579.665,-313.293,1549.423,657.699,-471.266,23642.268,21407.729,93538.37,5658.69,-251255.776
2024-12-04 15:00:00,414.365,-579.665,-313.293,1549.423,-455.741,24034.112,22856.605,21412.20,4083.84,-99763.959
2024-12-04 16:00:00,126.863,414.365,-579.665,-313.293,-670.656,24450.811,23576.353,85451.54,-63411.67,-22806.217
2024-12-04 17:00:00,-390.442,126.863,414.365,-579.665,-542.860,24388.136,24266.593,37839.73,25020.83,-2032.836
2024-12-04 18:00:00,90.988,-390.442,126.863,414.365,-569.510,23976.262,24053.342,34367.16,33417.74,4.200
2024-12-04 19:00:00,126.575,90.988,-390.442,126.863,-278.800,23258.710,22559.548,116328.35,50742.01,4.200
2024-12-04 20:00:00,-62.222,126.575,90.988,-390.442,-533.252,21618.686,19860.436,-136645.00,21758.54,4.200
2024-12-04 21:00:00,259.324,-62.222,126.575,90.988,-576.398,20107.087,16947.064,-83985.41,22719.17,4.200
2024-12-04 22:00:00,1770.772,259.324,-62.222,126.575,-702.941,18083.512,14139.134,-118188.66,20106.12,4.200
2024-12-04 23:00:00,118.655,1770.772,259.324,-62.222,-548.482,16631.522,12083.413,-109975.14,-69713.06,4.200
2024-12-05 00:00:00,-66.642,118.655,1770.772,259.324,75.801,15865.552,11401.696,-45772.30,5108.78,4.200
2024-12-05 01:00:00,118.970,-66.642,118.655,1770.772,91.645,15300.300,10444.560,-145532.23,-3033.36,4.200
2024-12-05 02:00:00,122.390,118.970,-66.642,118.655,32.192,14995.080,9411.181,-69473.14,-1598.02,4.200
2024-12-05 03:00:00,280.752,122.390,118.970,-66.642,-88.035,15044.097,9341.780,-54267.57,2621.29,4.200
2024-12-05 04:00:00,96.746,280.752,122.390,118.970,-162.976,15244.921,9927.533,-54211.05,2462.49,4.200
2024-12-05 05:00:00,-24.977,96.746,280.752,122.390,300.574,16152.516,10643.959,-76548.01,-478.22,4.200
2024-12-05 06:00:00,-5.190,-24.977,96.746,280.752,446.800,19611.727,15017.935,-104112.75,-1274.36,4.200
2024-12-05 07:00:00,89.245,-5.190,-24.977,96.746,14.629,23167.215,19325.662,-109330.10,-30214.30,-4334.230
2024-12-05 08:00:00,-92.653,89.245,-5.190,-24.977,-175.515,25308.097,21013.942,-123331.07,1561.87,6792.618
2024-12-05 09:00:00,311.654,-92.653,89.245,-5.190,-582.215,25263.012,20247.093,1965.75,134016.86,-6772.632
2024-12-05 10:00:00,468.268,311.654,-92.653,89.245,-61.465,24617.117,19437.507,-285707.34,-1518.47,131436.866
2024-12-05 11:00:00,530.093,468.268,311.654,-92.653,657.699,24201.456,19928.085,-221173.19,923.39,175141.780
2024-12-05 12:00:00,461.623,530.093,468.268,311.654,1549.423,22723.765,18750.489,-127370.34,3496.82,197333.646
2024-12-05 13:00:00,351.223,461.623,530.093,468.268,-313.293,22696.856,18150.528,-191.99,4588.81,114377.306
2024-12-05 14:00:00,120.409,351.223,461.623,530.093,-579.665,23349.940,18338.041,-117105.42,902.89,35757.874
2024-12-05 15:00:00,NaN,NaN,NaN,NaN,NaN,24067.890,19266.107,NaN,NaN,NaN
2024-12-05 16:00:00,NaN,NaN,NaN,NaN,NaN,24580.642,20035.136,NaN,NaN,NaN
2024-12-05 17:00:00,NaN,NaN,NaN,NaN,NaN,24612.967,19978.604,NaN,NaN,NaN
2024-12-05 18:00:00,NaN,NaN,NaN,NaN,NaN,24131.715,19693.708,NaN,NaN,NaN
2024-12-05 19:00:00,NaN,NaN,NaN,NaN,NaN,23352.455,18962.100,NaN,NaN,NaN
2024-12-05 20:00:00,NaN,NaN,NaN,NaN,NaN,22053.846,17317.978,NaN,NaN,NaN
2024-12-05 21:00:00,NaN,NaN,NaN,NaN,NaN,20501.039,14817.090,NaN,NaN,NaN
2024-12-05 22:00:00,NaN,NaN,NaN,NaN,NaN,18506.472,11967.999,NaN,NaN,NaN
2024-12-05 23:00:00,NaN,NaN,NaN,NaN,NaN,17147.602,10511.258,NaN,NaN,NaN

In [140]:
from pathlib import Path 
filepath = Path('C:\imbalance_forecast\data\df_nord_h_project.csv')
filepath.parent.mkdir(parents=True, exist_ok=True)
df_nord_h_project.to_csv(filepath)

<>:2: SyntaxWarning: invalid escape sequence '\i'
<>:2: SyntaxWarning: invalid escape sequence '\i'
C:\Users\samueledelia\AppData\Local\Temp\3\ipykernel_10056\2037195458.py:2: SyntaxWarning: invalid escape sequence '\i'
  filepath = Path('C:\imbalance_forecast\data\df_nord_h_project.csv')

### SUD MACROZONE

In [141]:
"""
import sys
print(sys.executable)"""

'\nimport sys\nprint(sys.executable)'

In [142]:
"""import os
import pandas as pd
import matplotlib.pyplot as plt

# Add the source directory to the system path
sys.path.append(os.path.abspath('../src'))
from open_data import fetch_db_table_sqlserver16
import utils
import importlib

# Reload the module
importlib.reload(utils)

# SQL query to fetch data
sql_query = "SELECT * FROM TERNA_SUNSET_SEGNO_QH" 
qh = fetch_db_table_sqlserver16(sql=sql_query, verbose=False)
qh = qh.sort_values(by='ORAINI')
# Filter the DataFrame for the relevant columns and rows
qh = qh[['MACROZONA', 'ORAINI', 'SBIL_MWH']]
# Convert ORAINI to datetime using the correct method
qh['ORAINI'] = pd.to_datetime(qh['ORAINI'], format='%Y%m%d%H%M')
qh.set_index('ORAINI', inplace=True)
# Nord
qh_sud = qh[qh['MACROZONA'] == 'SUD']


qh_sud.tail()"""

'import os\nimport pandas as pd\nimport matplotlib.pyplot as plt\n\n# Add the source directory to the system path\nsys.path.append(os.path.abspath(\'../src\'))\nfrom open_data import fetch_db_table_sqlserver16\nimport utils\nimport importlib\n\n# Reload the module\nimportlib.reload(utils)\n\n# SQL query to fetch data\nsql_query = "SELECT * FROM TERNA_SUNSET_SEGNO_QH" \nqh = fetch_db_table_sqlserver16(sql=sql_query, verbose=False)\nqh = qh.sort_values(by=\'ORAINI\')\n# Filter the DataFrame for the relevant columns and rows\nqh = qh[[\'MACROZONA\', \'ORAINI\', \'SBIL_MWH\']]\n# Convert ORAINI to datetime using the correct method\nqh[\'ORAINI\'] = pd.to_datetime(qh[\'ORAINI\'], format=\'%Y%m%d%H%M\')\nqh.set_index(\'ORAINI\', inplace=True)\n# Nord\nqh_sud = qh[qh[\'MACROZONA\'] == \'SUD\']\n\n\nqh_sud.tail()'

In [143]:
"""# Resample to hourly data and take the sum of 'SBIL_MWH' for each hour
h_sud = qh_sud.resample('H').sum()

# Clean the 'MACROZONA' column to retain only 'NORD'
h_sud['MACROZONA'] = h_sud['MACROZONA'].str[:4]

h_nord = h_nord.drop(columns = ['MACROZONA'])
# Display the first few rows of the resampled data
h_nord.tail()"""

"# Resample to hourly data and take the sum of 'SBIL_MWH' for each hour\nh_sud = qh_sud.resample('H').sum()\n\n# Clean the 'MACROZONA' column to retain only 'NORD'\nh_sud['MACROZONA'] = h_sud['MACROZONA'].str[:4]\n\nh_nord = h_nord.drop(columns = ['MACROZONA'])\n# Display the first few rows of the resampled data\nh_nord.tail()"