# MGP and MI exchange volumes
The dataset *GME_MGP_MI_QUANTITA* refers to the total volume traded (both sell and buy) for each hours in the MGP and MI markets.

In [5]:
import sys
import os
import pandas as pd

# Add the source directory to the system path
sys.path.append(os.path.abspath('../../src'))
from open_data import fetch_db_table_sqlserver16
import utils
import importlib
# Reload the module
importlib.reload(utils)

# SQL query to fetch data
sql_query = "SELECT * FROM GME_MGP_MI_QUANTITA" 
volumes = fetch_db_table_sqlserver16(sql=sql_query, verbose=False)
volumes = volumes.sort_values(by=['FLOWDATE','FLOWHOUR'])

volumes

c:\imbalance_forecast\src\open_data.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, con, params=parameters)

,FLOWDATE,FLOWHOUR,MARKET,TOTAL_PURCHASES,NAT_PURCHASES,CNOR_PURCHASES,CSUD_PURCHASES,NORD_PURCHASES,SARD_PURCHASES,SICI_PURCHASES,...,ROSN_SALES,SLOV_SALES,SVIZ_SALES,BSP_SALES,MALT_SALES,XAUS_SALES,XFRA_SALES,TOTITABSP_SALES,TOTITABSP_PURCHASES,LOADTIME
24,20241004,1,MGP,26381.579,26381.579,2124.022,4534.366,14885.499,763.908,1547.272,...,None,0.0,2909.0,280.0,0.0,234.0,1700.0,23947.579,26381.579,2024-10-04 18:22:30.000
48,20241004,1,MI1,1218.268,1125.417,89.741,120.655,605.125,14.501,46.858,...,None,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,2024-10-04 18:22:35.400
72,20241004,1,MI2,502.341,629.282,18.932,129.258,240.581,21.865,55.090,...,None,0.0,3.7,0.0,0.0,0.0,0.0,NaN,NaN,2024-10-04 18:22:39.830
25,20241004,2,MGP,25258.886,25256.182,2035.433,4339.167,14229.233,731.432,1453.404,...,None,0.0,2898.5,280.0,0.0,234.0,1700.0,22824.886,25258.886,2024-10-04 18:22:30.003
49,20241004,2,MI1,1443.012,1400.190,74.013,116.721,958.660,11.576,42.725,...,None,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,2024-10-04 18:22:35.400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,20241017,20,MGP,39451.347,40177.417,3315.267,6945.107,22246.771,1027.675,2231.560,...,None,0.0,2594.0,0.0,0.0,0.0,2248.0,38054.515,40111.347,2024-10-16 13:10:41.390
986,20241017,21,MGP,36964.999,36964.899,3066.242,6548.920,20867.217,997.611,2167.550,...,None,0.0,2605.0,630.0,0.0,200.0,2248.0,34016.999,36964.999,2024-10-16 13:10:41.390
987,20241017,22,MGP,33867.218,33933.218,2792.310,5947.754,19270.330,916.193,1974.644,...,None,0.0,2354.0,572.0,0.0,182.0,2041.0,31144.218,33867.218,2024-10-16 13:10:41.390
988,20241017,23,MGP,30640.777,30719.873,2517.505,5400.787,17355.435,843.840,1814.674,...,None,0.0,2354.0,572.0,0.0,182.0,2041.0,27917.777,30640.777,2024-10-16 13:10:41.390
989,20241017,24,MGP,28139.181,28209.181,2256.880,4949.412,15997.660,786.450,1654.674,...,None,0.0,2161.0,501.0,0.0,176.0,1986.0,25477.181,28139.181,2024-10-16 13:10:41.390