# MGP and MI exchange volumes
The dataset *GME_MGP_MI_QUANTITA* refers to the total volume traded (both sell and buy) for each hours in the MGP and MI markets.

In [1]:
import sys
import os
import pandas as pd

# Add the source directory to the system path
sys.path.append(os.path.abspath('../../src'))
from open_data import fetch_db_table_sqlserver16
import utils
import importlib
# Reload the module
importlib.reload(utils)

# SQL query to fetch data
sql_query = "SELECT * FROM GME_MGP_MI_QUANTITA" 
volumes = fetch_db_table_sqlserver16(sql=sql_query, verbose=False)
volumes = volumes.sort_values(by=['FLOWDATE','FLOWHOUR'])

volumes

c:\imbalance_forecast\src\open_data.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, con, params=parameters)

,FLOWDATE,FLOWHOUR,MARKET,TOTAL_PURCHASES,NAT_PURCHASES,CNOR_PURCHASES,CSUD_PURCHASES,NORD_PURCHASES,SARD_PURCHASES,SICI_PURCHASES,...,ROSN_SALES,SLOV_SALES,SVIZ_SALES,BSP_SALES,MALT_SALES,XAUS_SALES,XFRA_SALES,TOTITABSP_SALES,TOTITABSP_PURCHASES,LOADTIME
79446,20190101,1,MI1,1207.748,858.713,83.695,68.004,827.752,8.921,44.549,...,0.000,0.0,0.000,NaN,0.0,NaN,NaN,NaN,NaN,2018-12-31 15:10:52.263
79458,20190101,1,MGP,23521.449,24243.696,2372.707,4174.117,11460.324,901.738,1679.169,...,1843.786,0.0,2438.000,0.0,0.0,187.0,0.0,24056.696,23730.449,2018-12-31 13:51:37.097
79504,20190101,1,MI2,244.328,403.747,8.931,49.858,72.777,4.295,32.767,...,4.661,0.0,0.000,0.0,0.0,NaN,NaN,412.328,412.328,2018-12-31 16:41:34.837
79447,20190101,2,MI1,1262.958,913.156,77.863,104.702,896.259,5.944,27.843,...,0.356,0.0,0.000,NaN,0.0,NaN,NaN,NaN,NaN,2018-12-31 15:10:52.267
79459,20190101,2,MGP,22417.488,23396.353,2245.300,3885.330,10964.464,861.702,1571.783,...,1845.050,0.0,2342.000,0.0,0.0,187.0,0.0,23209.353,22588.488,2018-12-31 13:51:37.097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1278,20241127,20,MGP,41948.262,42783.762,3454.943,7369.242,23603.056,1046.867,2283.798,...,NaN,0.0,3877.000,0.0,0.0,412.0,2981.0,39390.746,42283.762,2024-11-26 13:10:41.150
1279,20241127,21,MGP,39561.819,40847.819,3246.019,7029.584,22076.427,1031.956,2177.890,...,NaN,0.0,3877.000,0.0,0.0,412.0,2981.0,37454.819,40347.819,2024-11-26 13:10:41.150
1280,20241127,22,MGP,36556.981,37070.981,2967.479,6519.564,20541.635,963.880,2022.610,...,NaN,0.0,3384.773,203.6,0.0,363.0,2632.0,34062.006,36556.981,2024-11-26 13:10:41.150
1281,20241127,23,MGP,32718.374,33095.211,2637.343,5898.915,18502.467,876.329,1833.260,...,NaN,0.0,3423.359,711.0,0.0,363.0,2632.0,30100.211,32718.374,2024-11-26 13:10:41.150
1282,20241127,24,MGP,29884.205,29884.205,2373.691,5272.880,17153.032,784.889,1668.847,...,NaN,0.0,2934.246,616.0,0.0,365.0,2535.0,26484.205,29884.205,2024-11-26 13:10:41.150

In [2]:
market_labels = volumes['MARKET'].unique()

print(market_labels)

['MI1' 'MGP' 'MI2' 'MI3' 'MI4' 'MI5' 'MI6' 'MI7']

In [3]:
# Convert FLOWDATE to a string and then to datetime (YYYYMMDD format)
volumes['FLOWDATE'] = pd.to_datetime(volumes['FLOWDATE'].astype(str), format='%Y%m%d')
# Subtracting one hour from FLOWHOUR
volumes['FLOWHOUR'] = volumes['FLOWHOUR'] - 1
# Convert FLOWHOUR to timedelta (number of hours) and add it to FLOWDATE
volumes['ORAINI'] = volumes['FLOWDATE'] + pd.to_timedelta(volumes['FLOWHOUR'], unit='h')
# Dropping the old FLOWDATE and FLOWHOUR columns
volumes = volumes.drop(columns=['FLOWDATE', 'FLOWHOUR'])
volumes.set_index('ORAINI', inplace=True)

In [4]:
mgp_volumes = volumes[volumes['MARKET'] == 'MGP']
mgp_volumes = mgp_volumes.drop(columns=['MARKET'])

mgp_volumes

,TOTAL_PURCHASES,NAT_PURCHASES,CNOR_PURCHASES,CSUD_PURCHASES,NORD_PURCHASES,SARD_PURCHASES,SICI_PURCHASES,SUD_PURCHASES,AUST_PURCHASES,BRNN_PURCHASES,...,ROSN_SALES,SLOV_SALES,SVIZ_SALES,BSP_SALES,MALT_SALES,XAUS_SALES,XFRA_SALES,TOTITABSP_SALES,TOTITABSP_PURCHASES,LOADTIME
ORAINI,,,,,,,,,,,,,,,,,,,,,
2019-01-01 00:00:00,23521.449,24243.696,2372.707,4174.117,11460.324,901.738,1679.169,2148.394,0.0,None,...,1843.786,0.0,2438.000,0.0,0.0,187.0,0.0,24056.696,23730.449,2018-12-31 13:51:37.097
2019-01-01 01:00:00,22417.488,23396.353,2245.300,3885.330,10964.464,861.702,1571.783,2015.909,0.0,None,...,1845.050,0.0,2342.000,0.0,0.0,187.0,0.0,23209.353,22588.488,2018-12-31 13:51:37.097
2019-01-01 02:00:00,21496.678,22353.623,2145.655,3606.687,10604.767,829.694,1474.098,1888.777,0.0,None,...,1845.647,0.0,2175.000,0.0,0.0,0.0,0.0,22353.623,22057.240,2018-12-31 13:51:37.097
2019-01-01 03:00:00,20322.418,20576.217,2050.474,3392.350,10234.366,805.191,1401.924,1804.113,0.0,None,...,983.111,0.0,2310.000,0.0,0.0,0.0,0.0,20576.217,20468.106,2018-12-31 13:51:37.100
2019-01-01 04:00:00,19979.994,21238.994,2016.645,3314.058,10088.680,791.251,1366.832,1769.976,0.0,None,...,978.775,0.0,2351.000,433.0,0.0,187.0,0.0,21051.994,19979.994,2018-12-31 13:51:37.100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-11-27 19:00:00,41948.262,42783.762,3454.943,7369.242,23603.056,1046.867,2283.798,2506.305,0.0,None,...,NaN,0.0,3877.000,0.0,0.0,412.0,2981.0,39390.746,42283.762,2024-11-26 13:10:41.150
2024-11-27 20:00:00,39561.819,40847.819,3246.019,7029.584,22076.427,1031.956,2177.890,2449.015,0.0,None,...,NaN,0.0,3877.000,0.0,0.0,412.0,2981.0,37454.819,40347.819,2024-11-26 13:10:41.150
2024-11-27 21:00:00,36556.981,37070.981,2967.479,6519.564,20541.635,963.880,2022.610,2258.728,0.0,None,...,NaN,0.0,3384.773,203.6,0.0,363.0,2632.0,34062.006,36556.981,2024-11-26 13:10:41.150
2024-11-27 22:00:00,32718.374,33095.211,2637.343,5898.915,18502.467,876.329,1833.260,2076.039,0.0,None,...,NaN,0.0,3423.359,711.0,0.0,363.0,2632.0,30100.211,32718.374,2024-11-26 13:10:41.150
2024-11-27 23:00:00,29884.205,29884.205,2373.691,5272.880,17153.032,784.889,1668.847,1874.375,0.0,None,...,NaN,0.0,2934.246,616.0,0.0,365.0,2535.0,26484.205,29884.205,2024-11-26 13:10:41.150

In [5]:
mgp_volumes_nord = mgp_volumes[['NORD_PURCHASES', 'NORD_SALES', 'LOADTIME']]

mgp_volumes_nord.tail(30)

                     NORD_PURCHASES  NORD_SALES                LOADTIME
ORAINI
2024-11-26 18:00:00       24173.480   22049.563 2024-11-25 13:10:39.207
2024-11-26 19:00:00       23498.975   21401.593 2024-11-25 13:10:39.207
2024-11-26 20:00:00       22051.242   19366.281 2024-11-25 13:10:39.207
2024-11-26 21:00:00       20417.280   17087.902 2024-11-25 13:10:39.207
2024-11-26 22:00:00       18282.654   14935.046 2024-11-25 13:10:39.207
2024-11-26 23:00:00       16961.695   12488.875 2024-11-25 13:10:39.207
2024-11-27 00:00:00       15906.283   11987.296 2024-11-26 13:10:41.140
2024-11-27 01:00:00       15249.590   11124.072 2024-11-26 13:10:41.140
2024-11-27 02:00:00       14937.318   10853.303 2024-11-26 13:10:41.140
2024-11-27 03:00:00       14880.236   10819.478 2024-11-26 13:10:41.143
2024-11-27 04:00:00       15101.563   11095.199 2024-11-26 13:10:41.143
2024-11-27 05:00:00       16050.278   12146.548 2024-11-26 13:10:41.147
2024-11-27 06:00:00       19534.325   17167.808 2024-11-26 13:10:41.147
2024-11-27 07:00:00       23005.653   19766.781 2024-11-26 13:10:41.147
2024-11-27 08:00:00       25013.929   21269.784 2024-11-26 13:10:41.150
2024-11-27 09:00:00       25645.206   20526.590 2024-11-26 13:10:41.150
2024-11-27 10:00:00       25273.558   19939.032 2024-11-26 13:10:41.150
2024-11-27 11:00:00       24972.353   19473.360 2024-11-26 13:10:41.150
2024-11-27 12:00:00       23612.949   18512.945 2024-11-26 13:10:41.150
2024-11-27 13:00:00       23735.737   18837.979 2024-11-26 13:10:41.150
2024-11-27 14:00:00       24389.849   19042.825 2024-11-26 13:10:41.150
2024-11-27 15:00:00       24551.852   19917.686 2024-11-26 13:10:41.150
2024-11-27 16:00:00       24776.460   21830.979 2024-11-26 13:10:41.150
2024-11-27 17:00:00       25020.633   22040.074 2024-11-26 13:10:41.150
2024-11-27 18:00:00       24479.538   20758.231 2024-11-26 13:10:41.150
2024-11-27 19:00:00       23603.056   20197.108 2024-11-26 13:10:41.150
2024-11-27 20:00:00       22076.427   18824.868 2024-11-26 13:10:41.150
2024-11-27 21:00:00       20541.635   17539.446 2024-11-26 13:10:41.150
2024-11-27 22:00:00       18502.467   15358.664 2024-11-26 13:10:41.150
2024-11-27 23:00:00       17153.032   13480.532 2024-11-26 13:10:41.150

In [6]:
mi1_volumes = volumes[volumes['MARKET'] == 'MI1']
mi1_volumes = mi1_volumes.drop(columns=['MARKET'])

In [7]:
mi1_volumes_nord = mi1_volumes[['NORD_PURCHASES', 'NORD_SALES', 'LOADTIME']]

mi1_volumes_nord.tail(30)

                     NORD_PURCHASES  NORD_SALES                LOADTIME
ORAINI
2024-11-25 18:00:00         448.393    1107.513 2024-11-25 18:22:16.607
2024-11-25 19:00:00         500.019     600.887 2024-11-25 18:22:16.607
2024-11-25 20:00:00         450.486     892.659 2024-11-25 18:22:16.607
2024-11-25 21:00:00         523.453     756.262 2024-11-25 18:22:16.607
2024-11-25 22:00:00         600.882     967.686 2024-11-25 18:22:16.607
2024-11-25 23:00:00         525.134     484.039 2024-11-25 18:22:16.607
2024-11-26 00:00:00         909.864     537.931 2024-11-26 18:22:17.717
2024-11-26 01:00:00         804.302     542.738 2024-11-26 18:22:17.720
2024-11-26 02:00:00         678.417     444.721 2024-11-26 18:22:17.720
2024-11-26 03:00:00         802.120     571.408 2024-11-26 18:22:17.723
2024-11-26 04:00:00        1014.377     886.778 2024-11-26 18:22:17.723
2024-11-26 05:00:00         726.039     965.541 2024-11-26 18:22:17.727
2024-11-26 06:00:00         713.256     793.812 2024-11-26 18:22:17.727
2024-11-26 07:00:00         622.750     874.528 2024-11-26 18:22:17.727
2024-11-26 08:00:00         770.627     742.737 2024-11-26 18:22:17.727
2024-11-26 09:00:00         528.481     630.980 2024-11-26 18:22:17.727
2024-11-26 10:00:00         670.970     845.128 2024-11-26 18:22:17.727
2024-11-26 11:00:00         661.134     846.595 2024-11-26 18:22:17.727
2024-11-26 12:00:00         793.114    1094.254 2024-11-26 18:22:17.727
2024-11-26 13:00:00         751.234    1044.598 2024-11-26 18:22:17.727
2024-11-26 14:00:00         725.069     924.252 2024-11-26 18:22:17.727
2024-11-26 15:00:00         835.448     481.400 2024-11-26 18:22:17.727
2024-11-26 16:00:00         670.840     559.293 2024-11-26 18:22:17.727
2024-11-26 17:00:00         652.537     433.385 2024-11-26 18:22:17.727
2024-11-26 18:00:00         961.388     659.096 2024-11-26 18:22:17.727
2024-11-26 19:00:00         897.994     616.403 2024-11-26 18:22:17.727
2024-11-26 20:00:00         715.718     696.320 2024-11-26 18:22:17.727
2024-11-26 21:00:00         923.317     944.249 2024-11-26 18:22:17.727
2024-11-26 22:00:00         926.754     833.428 2024-11-26 18:22:17.727
2024-11-26 23:00:00        1256.068    1085.550 2024-11-26 18:22:17.727

In [8]:
mi2_volumes = volumes[volumes['MARKET'] == 'MI2']
mi2_volumes = mi2_volumes.drop(columns=['MARKET'])

In [9]:
mi2_volumes_nord = mi2_volumes[['NORD_PURCHASES', 'NORD_SALES', 'LOADTIME']]

mi2_volumes_nord.tail(30)

                     NORD_PURCHASES  NORD_SALES                LOADTIME
ORAINI
2024-11-25 18:00:00         224.693     271.273 2024-11-25 18:22:20.657
2024-11-25 19:00:00         196.095     257.614 2024-11-25 18:22:20.657
2024-11-25 20:00:00         216.654     232.211 2024-11-25 18:22:20.657
2024-11-25 21:00:00         208.997     252.573 2024-11-25 18:22:20.657
2024-11-25 22:00:00         116.493     203.043 2024-11-25 18:22:20.657
2024-11-25 23:00:00          99.662     160.490 2024-11-25 18:22:20.657
2024-11-26 00:00:00         148.664     152.849 2024-11-26 18:22:21.843
2024-11-26 01:00:00         279.199     170.416 2024-11-26 18:22:21.843
2024-11-26 02:00:00         178.180     237.368 2024-11-26 18:22:21.847
2024-11-26 03:00:00         228.292     214.588 2024-11-26 18:22:21.847
2024-11-26 04:00:00         149.118     131.772 2024-11-26 18:22:21.847
2024-11-26 05:00:00         331.376     144.025 2024-11-26 18:22:21.847
2024-11-26 06:00:00         203.527     297.923 2024-11-26 18:22:21.847
2024-11-26 07:00:00         312.002     216.221 2024-11-26 18:22:21.847
2024-11-26 08:00:00         283.539     203.877 2024-11-26 18:22:21.847
2024-11-26 09:00:00         272.246     240.353 2024-11-26 18:22:21.847
2024-11-26 10:00:00         352.298     298.394 2024-11-26 18:22:21.847
2024-11-26 11:00:00         301.507     310.519 2024-11-26 18:22:21.847
2024-11-26 12:00:00         308.560     188.879 2024-11-26 18:22:21.847
2024-11-26 13:00:00         256.466     312.714 2024-11-26 18:22:21.847
2024-11-26 14:00:00         253.717     375.571 2024-11-26 18:22:21.847
2024-11-26 15:00:00         303.629     276.445 2024-11-26 18:22:21.847
2024-11-26 16:00:00         262.984     267.902 2024-11-26 18:22:21.847
2024-11-26 17:00:00         245.870     150.594 2024-11-26 18:22:21.847
2024-11-26 18:00:00         274.819     165.468 2024-11-26 18:22:21.847
2024-11-26 19:00:00         230.251     250.030 2024-11-26 18:22:21.847
2024-11-26 20:00:00         193.223     106.263 2024-11-26 18:22:21.847
2024-11-26 21:00:00         127.817      98.411 2024-11-26 18:22:21.847
2024-11-26 22:00:00         507.759      89.107 2024-11-26 18:22:21.847
2024-11-26 23:00:00         156.945     112.003 2024-11-26 18:22:21.847

In [10]:
mi3_volumes = volumes[volumes['MARKET'] == 'MI3']
mi3_volumes = mi3_volumes.drop(columns=['MARKET'])
mi3_volumes_nord = mi3_volumes[['NORD_PURCHASES', 'NORD_SALES', 'LOADTIME']]

mi3_volumes_nord.tail(30)

                     NORD_PURCHASES  NORD_SALES                LOADTIME
ORAINI
2024-11-24 18:00:00         149.671     187.538 2024-11-24 18:22:35.160
2024-11-24 19:00:00          91.193     118.713 2024-11-24 18:22:35.160
2024-11-24 20:00:00         131.033     123.911 2024-11-24 18:22:35.160
2024-11-24 21:00:00          93.644     146.344 2024-11-24 18:22:35.160
2024-11-24 22:00:00          57.802     121.580 2024-11-24 18:22:35.160
2024-11-24 23:00:00         173.571     158.216 2024-11-24 18:22:35.160
2024-11-25 12:00:00         347.465     506.811 2024-11-25 18:22:23.777
2024-11-25 13:00:00         208.110     483.048 2024-11-25 18:22:23.777
2024-11-25 14:00:00         306.388     373.138 2024-11-25 18:22:23.777
2024-11-25 15:00:00         331.421     360.929 2024-11-25 18:22:23.777
2024-11-25 16:00:00         307.726     156.670 2024-11-25 18:22:23.777
2024-11-25 17:00:00         344.021     204.823 2024-11-25 18:22:23.777
2024-11-25 18:00:00         206.664     290.338 2024-11-25 18:22:23.777
2024-11-25 19:00:00         152.916     217.368 2024-11-25 18:22:23.777
2024-11-25 20:00:00         208.994     186.262 2024-11-25 18:22:23.777
2024-11-25 21:00:00         113.380     125.004 2024-11-25 18:22:23.777
2024-11-25 22:00:00         160.874     141.481 2024-11-25 18:22:23.777
2024-11-25 23:00:00         146.239     140.043 2024-11-25 18:22:23.777
2024-11-26 12:00:00         285.538     288.380 2024-11-26 18:22:25.090
2024-11-26 13:00:00         287.265     298.814 2024-11-26 18:22:25.093
2024-11-26 14:00:00         181.873     151.462 2024-11-26 18:22:25.097
2024-11-26 15:00:00         459.206     354.368 2024-11-26 18:22:25.097
2024-11-26 16:00:00         570.315     335.208 2024-11-26 18:22:25.097
2024-11-26 17:00:00         638.773     332.101 2024-11-26 18:22:25.097
2024-11-26 18:00:00         576.720     165.667 2024-11-26 18:22:25.097
2024-11-26 19:00:00         571.153      90.213 2024-11-26 18:22:25.097
2024-11-26 20:00:00         496.980     278.725 2024-11-26 18:22:25.097
2024-11-26 21:00:00         410.317     170.066 2024-11-26 18:22:25.097
2024-11-26 22:00:00         109.698     143.254 2024-11-26 18:22:25.097
2024-11-26 23:00:00         105.707      85.171 2024-11-26 18:22:25.097

In [11]:
mi4_volumes = volumes[volumes['MARKET'] == 'MI4']
mi4_volumes = mi4_volumes.drop(columns=['MARKET'])
mi4_volumes_nord = mi4_volumes[['NORD_PURCHASES', 'NORD_SALES', 'LOADTIME']]

mi4_volumes_nord.tail(30)

                     NORD_PURCHASES  NORD_SALES                LOADTIME
ORAINI
2021-09-19 10:00:00          35.446     335.960 2021-09-19 04:10:57.840
2021-09-19 11:00:00          27.397      48.069 2021-09-19 04:10:57.840
2021-09-19 12:00:00          13.714      41.316 2021-09-19 04:10:57.843
2021-09-19 13:00:00          20.175      12.943 2021-09-19 04:10:57.843
2021-09-19 14:00:00          27.808      58.166 2021-09-19 04:10:57.843
2021-09-19 15:00:00          17.959      10.590 2021-09-19 04:10:57.843
2021-09-19 16:00:00          42.771      94.523 2021-09-19 04:10:57.843
2021-09-19 17:00:00         110.805     244.656 2021-09-19 04:10:57.843
2021-09-19 18:00:00         120.737     350.911 2021-09-19 04:10:57.843
2021-09-19 19:00:00          13.436      26.616 2021-09-19 04:10:57.843
2021-09-19 20:00:00          15.701      35.237 2021-09-19 04:10:57.843
2021-09-19 21:00:00          13.221       5.732 2021-09-19 04:10:57.843
2021-09-19 22:00:00          29.765       4.958 2021-09-19 04:10:57.843
2021-09-19 23:00:00          12.734      39.789 2021-09-19 04:10:57.843
2021-09-20 08:00:00          44.704      34.171 2021-09-20 04:36:53.853
2021-09-20 09:00:00          41.673      21.971 2021-09-20 04:36:53.857
2021-09-20 10:00:00          58.709      42.519 2021-09-20 04:36:53.857
2021-09-20 11:00:00          43.492      40.635 2021-09-20 04:36:53.860
2021-09-20 12:00:00          40.993      23.483 2021-09-20 04:36:53.860
2021-09-20 13:00:00          62.537      40.116 2021-09-20 04:36:53.860
2021-09-20 14:00:00          57.989      13.944 2021-09-20 04:36:53.860
2021-09-20 15:00:00          39.389      43.472 2021-09-20 04:36:53.860
2021-09-20 16:00:00          63.699      50.071 2021-09-20 04:36:53.860
2021-09-20 17:00:00          55.696      68.818 2021-09-20 04:36:53.860
2021-09-20 18:00:00          58.204      50.438 2021-09-20 04:36:53.860
2021-09-20 19:00:00          52.482      57.121 2021-09-20 04:36:53.860
2021-09-20 20:00:00          49.907      51.699 2021-09-20 04:36:53.860
2021-09-20 21:00:00          55.549      61.614 2021-09-20 04:36:53.860
2021-09-20 22:00:00          65.460      21.304 2021-09-20 04:36:53.860
2021-09-20 23:00:00          53.519      57.881 2021-09-20 04:36:53.860